<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.diary.repository.BoardMapper">
    <insert id="saveBoardContent">
        INSERT INTO diary.diary_entries(title, content)
        VALUES(#{title}, #{content})
    </insert>

    <select id="getBoardList" resultType="FormDto">
        SELECT title, content, TO_CHAR(created_at, 'YYYY-MM-DD HH24:MI') AS created_at
        FROM diary.diary_entries
        ORDER BY created_at DESC
        LIMIT #{count} OFFSET #{page} * #{count}
    </select>
</mapper>